* {
    padding: 0;
    margin: 0;
    text-decoration: none;
}

body {
    background-color: rgb(255, 255, 255);
}

#cadeado {
    position: absolute;
    right: 50px;
    top: 40px;
    font-size: 25px;
}

#icone-campos {
    top: 20px;
    font-size: 25px;
    position: relative;
    left: 10px;
}



i {
    color: #ff7b00;
    font-size: 30px;
}

h1 {
    display: inline-block;
    color: #ff7b00;
    font-size: 40px;
    font-family: "Source Sans 3", sans-serif;
        font-optical-sizing: auto;
        font-weight: 600;
        font-style: italic;
}

h2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 
    Geneva, Verdana, sans-serif;
    color: black;
    font-family: "Source Sans 3", sans-serif;
    font-optical-sizing: auto;
    font-weight: 395;
    font-style: italic;
    font-size: 30px;
}

h4 {
    color: rgb(49, 48, 48);
    position: absolute;
    bottom: 10px;
    left: 8px;
    font-family: "Source Sans 3", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: italic;
}

p {
    text-align: center;
    color: black; 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 23px;
}

.sub-title {
    float: right;
    color: black;
    padding: 5px;
    font-size: 15px;
}

.cabecalho {
    height: 70px;
    margin: 30px;
}

.campo1 , .campo2, .campo3, .campo4 {
    position: relative;
    top: 150px;
    justify-items: center;
    padding: 15px;
    height: 120px;
    width: 33%;
    background-color: white;
    margin: 30px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.4);
}

.campo2 {
    position: relative;
    float: right;
    top: -60px;
}

.campo4 {
    position: relative;
    float: right;
    top: -90px;
    
}

.btn-entra {
    position: absolute;
    bottom: 40px;
    padding-left: 50px;
}

.botaoEntrar {
    position: absolute;
    bottom: -20px;
    padding: 9px 30px;
    border: none;
    border-radius: 30px;
    background-color: #ff7b00;
    left: 160px;
    width: 200px;
    height: 60px;
    font-size: 25px;
    font-family: "Source Sans 3", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    color: white;
    font-style: italic;
}

.fas{
    font-size: 40px;
}

#convidado{
    text-decoration: none;
}