body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: white;
}
/* 
Cabeçalho menu 
*/

* { 
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

.icone{
  width: 20px !important;
  height: 15px !important;
}



.icone4{
  height: 20px !important;
  width: 10px !important;
}

/*MENU HAMBURGUER*/
.side-bar{
    left: 0;
    border: solid 1px;
    position: fixed;
    display: block;
    background-color: white;
    height: 100%;
    width: 55%;
    display: none;
    padding: 15px;
    transform: right 0.5s ease;
    transition: 0s;
    z-index: 1;
}

.container-menu {
  margin-top: 100px;
}

.list-menu a {
  display: block;
  justify-content: space-between;
  padding: 10px;
  color: black;
  border-bottom: 0.1em #ff7b00 solid;
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-weight: 395;
  font-style: italic;
}


.check-btn {
    left: 79%;
    position: absolute;
    margin: 25px;
    top: 3px;
    font-size: 25px;
    
}

.check-fechar {
    top: 20px;
    margin-left: 145px;
    position: absolute;
    background-color: #ff7b00;
    padding: 5px;
    border-radius: 30px;
}



#check {
    float: right;
    top: 1px;
    display: none;
}
    

#check:checked ~ .side-bar {
    display: block;

}

#check:checked ~ .check-btn {
    display: none;
}

.name {
    margin-top: 60px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background: linear-gradient(90deg, #d16805, #fab115, yellow);
    -webkit-text-fill-color: transparent;
    font-size: 1.8em;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}

.menu {
    width: 250px;
    height: 670px;
    background-color: #ff7b00;
    position: absolute;
    display: flex;
}

.teste {
    margin-left: 10%;
    margin-top: 200px;
}

.fechar {
    height: 25px;
    margin-top: 20px;
    margin-left: 190px;
}

.search-container {
    text-align: center;
    margin: 0.15em;
}

.search-container input[type="text"] {
    margin-top: 25px;
    width: 100%;
    display: flex;
    left: 10px;
    position: relative;
    padding: 0.4em;
    font-size: 1em;
    border: 1px solid #f8ad0a;
    border-radius: 20px;
}

/*CABEÇALHO APARTI DO CAMPO DE BUSCA E DIGNITEC*/

.container {
  max-width: 400px;
  margin: 30px auto;
  background: #fff;
  padding: 20px 25px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #c9670c;
}

h1 {
  font-style: italic;
  font-size: 22px;
  margin: 0;
}

.marketing {
  display: flex;
}

.marketing img {
  margin-top: 10px;
  width: 70px;
  margin-left: 5%;
  z-index: 1;

}

.marketing h1 {
  margin-top: 19px;
}

/*.home-icon {
  text-decoration: none;
  font-size: 24px;
}

h2 {
  font-size: 16px;
  margin-top: 15px;
  font-weight: bold;
}

.subtitle {
  font-size: 13px;
  color: #555;
  margin-bottom: 20px;
}

form label {
  display: block;
  margin-top: 10px;
  font-size: 14px;
}

form input[type="text"],
form input[type="file"],
form textarea {
  width: 100%;
  padding: 8px;
  margin-top: 4px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
}

form textarea {
  resize: vertical;
  height: 60px;
}
*/


/* lista-anuncios*/
/*DADOS DE ANUNCIOS DO BD */

button {
  margin-top: 15px;
  width: 100%;
  padding: 10px;
  background: #ff7b00;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 15px;
  cursor: pointer;
}

button:hover {
  background: #005fa3;
} 

.anuncio {
  margin-left: 20px;
  width: 350px;
  max-height: max-content;
  border-radius: 10px;
  background-color: #fff;
  margin-top: 25px;
  box-shadow: 0 4px 6px rgb(0, 0, 0.3);
}

.anuncio, .img-anuncio h2, p {
  justify-content: space-between;
  padding: 5px;
  
}

.nomeProjeto {
  margin-left: 3px;
  color: #050505;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.img-anuncio {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.descricao {
   overflow-wrap: break-word;
   font-size: 20px;
}

.contatos {
  background-color: green;
}

/*ESTILOS DO CARD */


