/*ANIMAÇÃO DA LOGO*/body {
  margin: 0;
  height: 100vh;
  background-color: #ffff;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.logo-container {
  animation: bounceIn 1s ease-out, fadeOut 1s ease-in 3s forwards;
  position: relative;
}

.logo {
  width: 200px;
  height: auto;
  animation: pulse 5s infinite ease-in-out;
  border-radius: 20px;
  
}

/* Animações */
@keyframes bounceIn {
  0% {
    opacity: 0;
    transform: scale(0.3);
  }
  50% {
    opacity: 1;
    transform: scale(1.1);
  }
  70% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes pulse {
  0%, 100% {
    transform: scale(1);
    filter: drop-shadow;
  }
  50% {
    transform: scale(1.05);
    filter: drop-shadow;
  }
}

@keyframes fadeOut {
  to {
    opacity: 0;
    transform: scale(1.1);
  }
}

/*ANIMAÇÃO LOAADING*/


