*{
    margin: 0;
    padding: 0;
}

@media (max-width: 450px) {
     .topo{
        width: 100%;
        height: 150px;
     }

     .logo{
        width: 150px;
        position: relative;
        left: 50%;
        transform: translate(-50%);
     }

     h1{
        text-align: center;
        font-size: 30px;
        font-family: "Source Sans 3", sans-serif;
        font-optical-sizing: auto;
        font-weight: 600;
        font-style: italic;
        margin-bottom: 10px;
     }

     #input-box{
        width: 100%;
        height: 320px;
        text-align: left;
        padding-left: 45px;
     }

     .labelss{
        font-size: 20px;
        font-family: "Source Sans 3", sans-serif;
        font-optical-sizing: auto;
        font-weight: 395;
        font-style: italic;
        text-align: left;
     }

     .inputts{
        width: 300px;
        height: 40px;
        border: 1px solid #ff7b00;
        border-radius: 20px;
        margin-bottom: 10px;
        font-size: 16px;
     }

     .result{
        width: 200px;
        height: 120px;
        border-radius: 15px;
        border: 1px solid #ff7b00;
        position: relative;
        left: 50%;
        transform: translate(-50%);
        padding: 10px;
        font-size: 20px;
        font-family: "Source Sans 3", sans-serif;
        font-optical-sizing: auto;
        font-weight: 395;
        font-style: italic;
        margin-bottom: 15px;
     }

     #PrecoInteligente{
        font-family: "Source Sans 3", sans-serif;
        font-optical-sizing: auto;
        font-weight: 600;
        font-style: italic;
        font-size: 40px;
        position: relative;
        top: 20px;
     }

     .botoes{
      width: 100%;
      height: 50px;
      text-align: center;
      
     }

     #calculate{
      width: 150px;
      height: 60px;
      font-size: 20px;
      margin-right: 5px;
      border-radius: 30px;
      border: none;
      background-color: #ff7b00;
      color: white;
     }
     
     #registrar{
      width: 150px;
      height: 60px;
      font-size: 20px;
      margin-left: 5px;
      border-radius: 30px;
      border: 1px solid #ff7b00;
      background-color: white;
      color: #ff7b00;
     }
}