#calculator{
    text-align: center;
    position: absolute;
    top: 150px;
    width: 95%;
    font-family: "Source Sans 3", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: italic;
}

img{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

.labelss{
    text-align: left;
    margin-bottom: 10px !important;
    font-size: 17px;
    font-family: "Source Sans 3", sans-serif;
    font-optical-sizing: auto;
    font-weight: 395;
    font-style: italic;

}

#input-box{
    padding-left: 30px;
    text-align: left;
}

.inputss{
    width: 300px;
    height: 35px;
    border-radius: 20px;
    border: 1px solid #ff7b00;
    padding-left: 10px;
}

h4{
    font-size: 18px;
}

#total{
    font-size: 40px;
    position: relative;
    bottom: 20px;
}

.botoes{
    margin: 10px;
    width: 150px;
    height: 50px;
    position: relative;
    bottom: 40px;
    border: 1px solid #ff7b00;
    font-size: 18px;
    font-family: "Source Sans 3", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: italic;
    border-radius: 30px;
}

#calculate{
    background-color: white;
    color: #ff7b00;
}

#registrar{
    background-color: #ff7b00;
    color: white;
}